<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Defect report</title>
    </head>
    <body>
        <div class="page {{#if (eq defectType "CRITICAL")}}critical{{/if}}">
            <!-- Logo + Title + QrCode -->
            <div class="d-flex mb-10" style="justify-content: space-between; align-items: center;">
                <img src="{{getLogoBase64}}" alt="Logo" height="40px" />

                <h2 style="text-align: center">
                    ОТЧЁТ ОТДЕЛА ТЕХНИЧЕСКОГО НАДЗОРА ПО ОБЪЕКТУ {{projectName}}
                </h2>

                <div class="qr__code">
                    <img src="{{qrCode}}" alt="QR Code" width="100%" height="100%" />
                </div>
            </div>

            <!-- ID + Process + Status -->
            <div class="d-flex mb-10">
                <!-- CARD 1: ID + Status -->
                <div class="w-33">
                    <div class="card card__bordered" style="justify-content: space-between;">
                        <div class="card__title fs-13">
                            Информация о замечании ID: {{id}}
                        </div>
                        {{#if (eq status "NEW")}}
                            <div class="status status-new">Новый</div>
                        {{else}}
                            {{#if (eq status "READ")}}
                                <div class="status status-read">Прочитано</div>
                            {{else}}
                                {{#if (eq status "IN_PROGRESS")}}
                                    <div class="status status-in-progress">В процессе</div>
                                {{else}}
                                    {{#if (eq status "IN_REVIEW")}}
                                        <div class="status status-in-review">Проверка</div>
                                    {{else}}
                                        {{#if (eq status "NOT_FIXED")}}
                                            <div class="status status-not-fixed">Не устранено</div>
                                        {{else}}
                                            {{#if (eq status "FIXED")}}
                                                <div class="status status-fixed">Устранено</div>
                                            {{else}}
                                                {{#if (eq status "IN_CORRECT")}}
                                                    <div class="status status-in-correct">Ошибка</div>
                                                {{else}}
                                                    {{#if (eq status "DELETED")}}
                                                        <div class="status status-deleted">Архив</div>
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- CARD 2: Process Card -->
                <div class="w-33">
                    <div class="card card__bordered">
                        <div class="card__title fs-10">На какой стадии находится замечание</div>
                        {{#with (defectProcessData status) as |process|}}
                            {{> defect-process options=process.options step=process.step isFailed=process.isFailed}}
                        {{/with}}
                    </div>
                </div>

                <!-- CARD 3: Status Card -->
                <div class="w-33">
                    <div
                        class="card {{#if (eq this.status "NEW")}}card--new{{else}}{{#if (eq this.status "READ")}}card--read{{else}}{{#if (eq this.status "IN_PROGRESS")}}card--in-progress{{else}}{{#if (eq this.status "IN_REVIEW")}}card--in-review{{else}}{{#if (eq this.status "NOT_FIXED")}}card--not-fixed{{else}}{{#if (eq this.status "FIXED")}}card--fixed{{else}}{{#if (eq this.status "IN_CORRECT")}}card--in-correct{{else}}{{#if (eq this.status "DELETED")}}card--deleted{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}"
                        style="display: flex; align-items: center; column-gap: 8px;"
                    >
                        <div class="layer one">
                            <div class="layer second">
                                <div class="layer third">
                                    <div class="layer fourth">
                                        {{#if (eq status "NEW")}}
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16.6226 4.87106L15.9111 5.10823L15.9111 5.10823L16.6226 4.87106ZM15.9539 5.23652C16.0848 5.62948 16.5096 5.84185 16.9025 5.71086C17.2955 5.57987 17.5079 5.15513 17.3769 4.76218L16.6654 4.99935L15.9539 5.23652ZM13.5692 0.954503C13.1762 0.823517 12.7515 1.03589 12.6205 1.42884C12.4895 1.8218 12.7019 2.24654 13.0949 2.37753L13.332 1.66602L13.5692 0.954503ZM13.4603 1.70878L13.2232 2.42029V2.42029L13.4603 1.70878ZM3.71161 12.3994L3.14004 11.9138H3.14004L3.71161 12.3994ZM4.44433 10.6981L3.6991 10.6137L4.44433 10.6981ZM15.5531 10.6981L16.2983 10.6137L15.5531 10.6981ZM16.2858 12.3994L16.8574 11.9138L16.2858 12.3994ZM15.2657 8.16105L14.5204 8.24547V8.24547L15.2657 8.16105ZM4.73173 8.16105L5.47696 8.24547L4.73173 8.16105ZM13.201 16.9292C13.3464 16.5414 13.1498 16.1091 12.7619 15.9637C12.374 15.8184 11.9418 16.0149 11.7964 16.4028L12.4987 16.666L13.201 16.9292ZM8.201 16.4028C8.05563 16.0149 7.62336 15.8184 7.23549 15.9637C6.84763 16.1091 6.65104 16.5414 6.7964 16.9292L7.4987 16.666L8.201 16.4028ZM3.3748 4.87106L4.08631 5.10823L4.08631 5.10823L3.3748 4.87106ZM2.62052 4.76218C2.48953 5.15513 2.7019 5.57988 3.09486 5.71086C3.48782 5.84185 3.91256 5.62948 4.04354 5.23652L3.33203 4.99935L2.62052 4.76218ZM6.90254 2.37753C7.29549 2.24654 7.50786 1.8218 7.37688 1.42884C7.24589 1.03589 6.82115 0.823517 6.42819 0.954503L6.66536 1.66602L6.90254 2.37753ZM6.53707 1.70878L6.2999 0.997267H6.2999L6.53707 1.70878ZM16.6226 4.87106L15.9111 5.10823L15.9539 5.23652L16.6654 4.99935L17.3769 4.76218L17.3341 4.63388L16.6226 4.87106ZM13.332 1.66602L13.0949 2.37753L13.2232 2.42029L13.4603 1.70878L13.6975 0.997267L13.5692 0.954503L13.332 1.66602ZM16.6226 4.87106L17.3341 4.63389C16.7618 2.91691 15.4145 1.56959 13.6975 0.997267L13.4603 1.70878L13.2232 2.42029C14.4922 2.84332 15.4881 3.83916 15.9111 5.10823L16.6226 4.87106ZM15.1403 14.9993V14.2493H4.85714V14.9993V15.7493H15.1403V14.9993ZM15.2657 8.16105L14.5204 8.24547L14.8078 10.7825L15.5531 10.6981L16.2983 10.6137L16.0109 8.07662L15.2657 8.16105ZM4.44433 10.6981L5.18956 10.7825L5.47696 8.24547L4.73173 8.16105L3.98649 8.07662L3.6991 10.6137L4.44433 10.6981ZM3.71161 12.3994L4.28318 12.885C4.78668 12.2924 5.1016 11.559 5.18956 10.7825L4.44433 10.6981L3.6991 10.6137C3.64423 11.098 3.44816 11.5511 3.14004 11.9138L3.71161 12.3994ZM15.5531 10.6981L14.8078 10.7825C14.8958 11.559 15.2107 12.2924 15.7142 12.885L16.2858 12.3994L16.8574 11.9138C16.5492 11.5511 16.3532 11.098 16.2983 10.6137L15.5531 10.6981ZM4.85714 14.9993V14.2493C4.23191 14.2493 3.80761 13.4447 4.28318 12.885L3.71161 12.3994L3.14004 11.9138C1.89326 13.3813 2.86684 15.7493 4.85714 15.7493V14.9993ZM15.1403 14.9993V15.7493C17.1306 15.7493 18.1041 13.3813 16.8574 11.9138L16.2858 12.3994L15.7142 12.885C16.1898 13.4447 15.7655 14.2493 15.1403 14.2493V14.9993ZM15.2657 8.16105L16.0109 8.07662C15.6581 4.96227 13.0884 2.58268 9.9987 2.58268V3.33268V4.08268C12.2908 4.08268 14.2496 5.85452 14.5204 8.24547L15.2657 8.16105ZM4.73173 8.16105L5.47696 8.24547C5.74781 5.85452 7.70664 4.08268 9.9987 4.08268V3.33268V2.58268C6.90899 2.58268 4.33929 4.96227 3.98649 8.07662L4.73173 8.16105ZM12.4987 16.666L11.7964 16.4028C11.5465 17.0697 10.8524 17.5827 9.9987 17.5827V18.3327V19.0827C11.4533 19.0827 12.7231 18.2043 13.201 16.9292L12.4987 16.666ZM9.9987 18.3327V17.5827C9.14495 17.5827 8.45093 17.0697 8.201 16.4028L7.4987 16.666L6.7964 16.9292C7.27427 18.2043 8.54406 19.0827 9.9987 19.0827V18.3327ZM3.3748 4.87106L2.66328 4.63389L2.62052 4.76218L3.33203 4.99935L4.04354 5.23652L4.08631 5.10823L3.3748 4.87106ZM6.66536 1.66602L6.42819 0.954503L6.2999 0.997267L6.53707 1.70878L6.77424 2.42029L6.90254 2.37753L6.66536 1.66602ZM3.3748 4.87106L4.08631 5.10823C4.50933 3.83916 5.50517 2.84332 6.77424 2.42029L6.53707 1.70878L6.2999 0.997267C4.58292 1.56959 3.23561 2.91691 2.66328 4.63389L3.3748 4.87106Z" fill="#60607C"/>
                                            </svg>
                                        {{else}}
                                            {{#if (eq status "READ")}}
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M17.6084 8.21075C18.5748 9.22748 18.5748 10.7722 17.6084 11.7889C15.9786 13.5037 13.1794 15.8332 9.99984 15.8332C6.82024 15.8332 4.02108 13.5037 2.39126 11.7889C1.42492 10.7722 1.42492 9.22748 2.39126 8.21075C4.02108 6.49595 6.82024 4.1665 9.99984 4.1665C13.1794 4.1665 15.9786 6.49595 17.6084 8.21075Z"
                                                            stroke="currentColor"
                                                            stroke-width="1.5"
                                                    />
                                                    <path
                                                            d="M12.4998 9.99984C12.4998 11.3805 11.3805 12.4998 9.99984 12.4998C8.61913 12.4998 7.49984 11.3805 7.49984 9.99984C7.49984 8.61913 8.61913 7.49984 9.99984 7.49984C11.3805 7.49984 12.4998 8.61913 12.4998 9.99984Z"
                                                            stroke="currentColor"
                                                            stroke-width="1.5"
                                                    />
                                                </svg>
                                            {{else}}
                                                {{#if (eq status "IN_PROGRESS")}}
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.6657 3.33268C11.6657 4.25316 10.9195 4.99935 9.999 4.99935C9.07853 4.99935 8.33234 4.25316 8.33234 3.33268C8.33234 2.41221 9.07853 1.66602 9.999 1.66602C10.9195 1.66602 11.6657 2.41221 11.6657 3.33268Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M11.6657 16.666C11.6657 17.5865 10.9195 18.3327 9.999 18.3327C9.07853 18.3327 8.33234 17.5865 8.33234 16.666C8.33234 15.7455 9.07853 14.9993 9.999 14.9993C10.9195 14.9993 11.6657 15.7455 11.6657 16.666Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M16.6059 8.10939C15.8087 8.56962 14.7894 8.2965 14.3291 7.49935C13.8689 6.70219 14.142 5.68287 14.9392 5.22264C15.7363 4.7624 16.7557 5.03552 17.2159 5.83268C17.6761 6.62983 17.403 7.64915 16.6059 8.10939Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M5.05887 14.7761C4.26172 15.2363 3.2424 14.9632 2.78216 14.166C2.32193 13.3689 2.59505 12.3495 3.39221 11.8893C4.18936 11.4291 5.20868 11.7022 5.66891 12.4993C6.12915 13.2965 5.85603 14.3158 5.05887 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M14.9392 14.7761C14.142 14.3158 13.8689 13.2965 14.3291 12.4993C14.7894 11.7022 15.8087 11.4291 16.6059 11.8893C17.403 12.3495 17.6761 13.3689 17.2159 14.166C16.7557 14.9632 15.7363 15.2363 14.9392 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M3.39221 8.10941C2.59505 7.64918 2.32193 6.62986 2.78216 5.8327C3.2424 5.03555 4.26172 4.76242 5.05887 5.22266C5.85603 5.6829 6.12915 6.70222 5.66891 7.49937C5.20868 8.29653 4.18936 8.56965 3.39221 8.10941Z" stroke="white" stroke-width="1.5"/>
                                                    </svg>
                                                {{else}}
                                                    {{#if (eq status "IN_REVIEW")}}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M11.6657 3.33268C11.6657 4.25316 10.9195 4.99935 9.999 4.99935C9.07853 4.99935 8.33234 4.25316 8.33234 3.33268C8.33234 2.41221 9.07853 1.66602 9.999 1.66602C10.9195 1.66602 11.6657 2.41221 11.6657 3.33268Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M11.6657 16.666C11.6657 17.5865 10.9195 18.3327 9.999 18.3327C9.07853 18.3327 8.33234 17.5865 8.33234 16.666C8.33234 15.7455 9.07853 14.9993 9.999 14.9993C10.9195 14.9993 11.6657 15.7455 11.6657 16.666Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M16.6059 8.10939C15.8087 8.56962 14.7894 8.2965 14.3291 7.49935C13.8689 6.70219 14.142 5.68287 14.9392 5.22264C15.7363 4.7624 16.7557 5.03552 17.2159 5.83268C17.6761 6.62983 17.403 7.64915 16.6059 8.10939Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M5.05887 14.7761C4.26172 15.2363 3.2424 14.9632 2.78216 14.166C2.32193 13.3689 2.59505 12.3495 3.39221 11.8893C4.18936 11.4291 5.20868 11.7022 5.66891 12.4993C6.12915 13.2965 5.85603 14.3158 5.05887 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M14.9392 14.7761C14.142 14.3158 13.8689 13.2965 14.3291 12.4993C14.7894 11.7022 15.8087 11.4291 16.6059 11.8893C17.403 12.3495 17.6761 13.3689 17.2159 14.166C16.7557 14.9632 15.7363 15.2363 14.9392 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M3.39221 8.10941C2.59505 7.64918 2.32193 6.62986 2.78216 5.8327C3.2424 5.03555 4.26172 4.76242 5.05887 5.22266C5.85603 5.6829 6.12915 6.70222 5.66891 7.49937C5.20868 8.29653 4.18936 8.56965 3.39221 8.10941Z" stroke="white" stroke-width="1.5"/>
                                                        </svg>
                                                    {{else}}
                                                        {{#if (eq status "NOT_FIXED")}}
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.30796 3.4716C9.04601 2.17613 10.9566 2.17613 11.6946 3.4716L18.0881 14.6937C18.8054 15.9527 17.8718 17.5 16.3947 17.5H3.60787C2.13085 17.5 1.19722 15.9527 1.91453 14.6937L8.30796 3.4716ZM10.8346 14.1667C10.8346 14.6269 10.4615 15 10.0013 15C9.54101 15 9.16792 14.6269 9.16792 14.1667C9.16792 13.7064 9.54101 13.3333 10.0013 13.3333C10.4615 13.3333 10.8346 13.7064 10.8346 14.1667ZM10.6263 7.5C10.6263 7.15482 10.3464 6.875 10.0013 6.875C9.65607 6.875 9.37625 7.15482 9.37625 7.5V11.6667C9.37625 12.0118 9.65607 12.2917 10.0013 12.2917C10.3464 12.2917 10.6263 12.0118 10.6263 11.6667V7.5Z" fill="white"/>
                                                            </svg>
                                                        {{else}}
                                                            {{#if (eq status "FIXED")}}
                                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0013 18.3327C14.6037 18.3327 18.3346 14.6017 18.3346 9.99935C18.3346 5.39698 14.6037 1.66602 10.0013 1.66602C5.39893 1.66602 1.66797 5.39698 1.66797 9.99935C1.66797 14.6017 5.39893 18.3327 10.0013 18.3327ZM13.828 7.88309C14.0399 7.61062 13.9908 7.21795 13.7184 7.00603C13.4459 6.79411 13.0532 6.8432 12.8413 7.11566L9.50213 11.4089C9.42788 11.5043 9.28821 11.5167 9.19831 11.4358L7.08608 9.53482C6.82951 9.30391 6.43433 9.32471 6.20342 9.58127C5.9725 9.83784 5.9933 10.233 6.24987 10.4639L8.36211 12.3649C8.99138 12.9313 9.96906 12.8446 10.4888 12.1763L13.828 7.88309Z" fill="white"/>
                                                                </svg>
                                                            {{else}}
                                                                {{#if (eq status "IN_CORRECT")}}
                                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <g clip-path="url(#clip0_591_11762)">
                                                                            <ellipse
                                                                                    cx="9.99992"
                                                                                    cy="14.1667"
                                                                                    rx="0.833333"
                                                                                    ry="0.833333"
                                                                                    transform="rotate(-180 9.99992 14.1667)"
                                                                                    fill="currentColor"
                                                                            />
                                                                            <path
                                                                                    d="M10.0001 11.6667L10.0001 5.83341M18.3334 10.0001C18.3334 14.6025 14.6025 18.3334 10.0001 18.3334C5.39771 18.3334 1.66675 14.6025 1.66675 10.0001C1.66675 5.39771 5.39771 1.66675 10.0001 1.66675C14.6025 1.66675 18.3334 5.39771 18.3334 10.0001Z"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="1.5"
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                            />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_591_11762">
                                                                                <rect width="20" height="20" fill="white" />
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                {{else}}
                                                                    {{#if (eq status "DELETED")}}
                                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                    d="M4.16667 6.6665V14.9998C4.16667 16.8408 5.65905 18.3332 7.5 18.3332H12.5C14.3409 18.3332 15.8333 16.8408 15.8333 14.9998V6.6665M11.6667 9.1665V14.1665M8.33333 9.1665L8.33333 14.1665M13.3333 4.1665L12.1614 2.40867C11.8523 1.94501 11.3319 1.6665 10.7747 1.6665H9.22531C8.66805 1.6665 8.14767 1.94501 7.83856 2.40867L6.66667 4.1665M13.3333 4.1665H6.66667M13.3333 4.1665H17.5M6.66667 4.1665H2.5"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="1.5"
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                            />
                                                                        </svg>
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card__title fs-14" style="margin-bottom: 4px;">
                                {{#if (eq status "NEW")}}Новый
                                {{else}}{{#if (eq status "READ")}}Прочитано
                                {{else}}{{#if (eq status "IN_PROGRESS")}}В процессе
                                {{else}}{{#if (eq status "IN_REVIEW")}}Проверка
                                {{else}}{{#if (eq status "NOT_FIXED")}}Не устранено
                                {{else}}{{#if (eq status "FIXED")}}Устранено
                                {{else}}{{#if (eq status "IN_CORRECT")}}Ошибка
                                {{else}}{{#if (eq status "DELETED")}}Архив
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                            </div>
                            <div class="card__description">
                                Замечание в статусе
                                {{#if (eq status "NEW")}}“Новый”
                                {{else}}{{#if (eq status "READ")}}“Прочитано”
                                {{else}}{{#if (eq status "IN_PROGRESS")}}“В процессе”
                                {{else}}{{#if (eq status "IN_REVIEW")}}“Проверка”
                                {{else}}{{#if (eq status "NOT_FIXED")}}“Не устранено”
                                {{else}}{{#if (eq status "FIXED")}}“Устранено”
                                {{else}}{{#if (eq status "IN_CORRECT")}}“Ошибка”
                                {{else}}{{#if (eq status "DELETED")}}“Архив”
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images + Plan -->
            <div class="d-flex mb-10">
                <div class="w-422">
                    <div class="images">
                        <div class="image">
                            {{#if beforeImageUuid}}
                                <img src="{{downloadUrl}}{{beforeImageUuid}}" alt="До"/>
                            {{/if}}
                            <div class="image__title">До</div>
                        </div>
                        <div class="image">
                            {{#if afterImageUuid}}
                                <img src="{{downloadUrl}}{{afterImageUuid}}" alt="После"/>
                            {{/if}}
                            <div class="image__title">После</div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="plan">
                        <h3 class="plan__title">Замечание на чертеже</h3>
                        <div class="plan__image">
                            <div style="position: relative; display: inline-block; height: 100%;">
                                {{#if planImageUuid}}
                                    <img src="{{downloadUrl}}{{planImageUuid}}" alt="План"/>

                                    {{> defect-marker
                                            id=id
                                            x=x
                                            y=y
                                            height=height
                                            status=status
                                            location=location
                                    }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail + Info -->
            <div class="d-flex mb-10">
                <div class="w-422" style="flex-shrink: 0">
                    <div class="info">
                        <div class="info__item">
                            <h4 class="info__item-title">Описание</h4>
                            <p class="info__item-description">{{description}}</p>
                        </div>
                        <div class="info__item">
                            <h4 class="info__item-title">Мероприятия по устранению</h4>
                            <p class="info__item-description">{{measures}}</p>
                        </div>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div class="detail">
                        <h3 class="detail__title">Дополнительные данные</h3>

                        <div class="detail__item">
                            <strong class="detail__item-key">Тип документа</strong>
                            <span class="detail__item-value">
                                {{#if (eq defectType "NORMAL")}}Обычный
                                {{else}}{{#if (eq defectType "CRITICAL")}}Критичный
                                {{else}}{{#if (eq defectType "RECOMMENDATION")}}Рекомендация
                                {{/if}}{{/if}}{{/if}}
                            </span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Очередь</strong>
                            <span class="detail__item-value">{{queueName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Секция</strong>
                            <span class="detail__item-value">{{sectionName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Этаж</strong>
                            <span class="detail__item-value">{{targetName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Вид работ</strong>
                            <span class="detail__item-value">{{workTypeName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Причины возникновения</strong>
                            <span class="detail__item-value">{{factorName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Дата выявления</strong>
                            <span class="detail__item-value">{{detectedDate}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Срок</strong>
                            <span class="detail__item-value">{{dueDate}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Дата устранения</strong>
                            <span class="detail__item-value">{{resolvedDate}}</span>
                        </div>

                        <div class="numbers">
                            {{#each (range 1 10)}}
                                <div class="number{{#if (eq this ../criticalLevel)}} active{{/if}}">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div class="detail">
                        <h3 class="detail__title">Ответственные</h3>

                        <div class="user__item">
                            <div>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M15.8333 14.1667C15.8333 16.0077 13.2216 17.5 9.99996 17.5C6.7783 17.5 4.16663 16.0077 4.16663 14.1667C4.16663 12.3258 6.7783 10.8334 9.99996 10.8334C13.2216 10.8334 15.8333 12.3258 15.8333 14.1667Z"
                                            fill="#5957D7"
                                            opacity="0.4"
                                    />
                                    <path
                                            d="M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99996 9.16667C8.15901 9.16667 6.66663 7.67428 6.66663 5.83333C6.66663 3.99238 8.15901 2.5 9.99996 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z"
                                            fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{technical.fullName}}</h4>
                                <p class="user__item-key">Технадзор</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{technical.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item">
                            <div>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M15.8333 14.1667C15.8333 16.0077 13.2216 17.5 9.99996 17.5C6.7783 17.5 4.16663 16.0077 4.16663 14.1667C4.16663 12.3258 6.7783 10.8334 9.99996 10.8334C13.2216 10.8334 15.8333 12.3258 15.8333 14.1667Z"
                                            fill="#5957D7"
                                            opacity="0.4"
                                    />
                                    <path
                                            d="M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99996 9.16667C8.15901 9.16667 6.66663 7.67428 6.66663 5.83333C6.66663 3.99238 8.15901 2.5 9.99996 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z"
                                            fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{foreman.fullName}}</h4>
                                <p class="user__item-key">Прораб</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{foreman.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item">
                            <div>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.16797 1.29167C7.13243 1.29167 6.29297 2.13114 6.29297 3.16667V4.00001C6.29297 4.34518 6.01315 4.62501 5.66797 4.62501C5.32279 4.62501 5.04297 4.34518 5.04297 4.00001V3.16667C5.04297 1.44078 6.44208 0.0416718 8.16797 0.0416718H9.83464C11.5605 0.0416718 12.9596 1.44078 12.9596 3.16667V4.00001C12.9596 4.34518 12.6798 4.62501 12.3346 4.62501C11.9895 4.62501 11.7096 4.34518 11.7096 4.00001V3.16667C11.7096 2.13114 10.8702 1.29167 9.83464 1.29167H8.16797Z"
                                        fill="#5957D7"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    />
                                    <path
                                        d="M0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333V14C17.3346 15.841 15.8423 17.3333 14.0013 17.3333H4.0013C2.16035 17.3333 0.667969 15.841 0.667969 14V7.33333Z"
                                        fill="#5957D7"
                                        opacity="0.4"
                                    />
                                    <path
                                        d="M4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333C17.3346 7.33333 15.4563 9.17145 10.7154 9.44298C10.4516 9.45808 10.235 9.25077 10.1146 9.01559C9.90755 8.61128 9.48674 8.33456 9.0013 8.33456C8.53351 8.33456 8.12574 8.59153 7.91143 8.972C7.78222 9.2014 7.55876 9.39913 7.29652 9.37559C2.54409 8.949 0.667969 7.33333 0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4Z"
                                        fill="#5957D7"
                                    />
                                    <rect
                                        x="8.375"
                                        y="9"
                                        width="1.25"
                                        height="2.32836"
                                        rx="0.625"
                                        fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{contractor.name}}</h4>
                                <p class="user__item-key">Генподрядчик</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{contractor.user.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item" style="border-bottom: none;">
                            <div>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.16797 1.29167C7.13243 1.29167 6.29297 2.13114 6.29297 3.16667V4.00001C6.29297 4.34518 6.01315 4.62501 5.66797 4.62501C5.32279 4.62501 5.04297 4.34518 5.04297 4.00001V3.16667C5.04297 1.44078 6.44208 0.0416718 8.16797 0.0416718H9.83464C11.5605 0.0416718 12.9596 1.44078 12.9596 3.16667V4.00001C12.9596 4.34518 12.6798 4.62501 12.3346 4.62501C11.9895 4.62501 11.7096 4.34518 11.7096 4.00001V3.16667C11.7096 2.13114 10.8702 1.29167 9.83464 1.29167H8.16797Z"
                                        fill="#5957D7"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    />
                                    <path
                                        d="M0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333V14C17.3346 15.841 15.8423 17.3333 14.0013 17.3333H4.0013C2.16035 17.3333 0.667969 15.841 0.667969 14V7.33333Z"
                                        fill="#5957D7"
                                        opacity="0.4"
                                    />
                                    <path
                                        d="M4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333C17.3346 7.33333 15.4563 9.17145 10.7154 9.44298C10.4516 9.45808 10.235 9.25077 10.1146 9.01559C9.90755 8.61128 9.48674 8.33456 9.0013 8.33456C8.53351 8.33456 8.12574 8.59153 7.91143 8.972C7.78222 9.2014 7.55876 9.39913 7.29652 9.37559C2.54409 8.949 0.667969 7.33333 0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4Z"
                                        fill="#5957D7"
                                    />
                                    <rect
                                        x="8.375"
                                        y="9"
                                        width="1.25"
                                        height="2.32836"
                                        rx="0.625"
                                        fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{subContractor.name}}</h4>
                                <p class="user__item-key">Субподрядчик</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{subContractor.user.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images -->
            {{#if (eq defectType "CRITICAL")}}
                <div class="d-flex mb-20" style="flex-wrap: wrap;">
                    {{#each (fillImages beforeImageUuids 4)}}
                        <div class="before__image">
                            {{#if this}}
                                <img src="{{../downloadUrl}}{{this}}" alt="Before image"/>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>

                <div class="mb-20" style="text-align: center; font-weight: 500; color: #18181C;">
                    Данное предписание в случае невыполнения нарушений будет служить основанием для ведения претензионной работы со стороны Заказчика!
                </div>
            {{/if}}

            <!-- Users -->
            <div class="d-flex">
                <div class="w-422" style="padding-right: 60px;">
                    <h3 class="user__title">Выдал замечание</h3>
                    <div class="user__item">
                        <h4 class="user__item-value">Отчет составил ОТН</h4>
                        <h4 class="user__item-value">{{technical.fullName}}</h4>
                    </div>
                </div>
                <div class="w-full">
                    <h3 class="user__title">Принял замечание</h3>
                    <div class="d-flex" style="column-gap: 50px;">
                        <div style="width: 100%;">
                            <div class="user__item">
                                <div>
                                    <h4 class="user__item-value">{{contractor.name}}</h4>
                                    <p class="user__item-key">Генподрядчик</p>
                                </div>
                                <div>
                                    <h4 class="user__item-value">{{contractor.user.fullName}}</h4>
                                    <p class="user__item-key" style="text-align: right;">Ф.И.О</p>
                                </div>
                            </div>
                            <div class="user__item">
                                <div>
                                    <h4 class="user__item-value">{{subContractor.name}}</h4>
                                    <p class="user__item-key">Субподрядчик</p>
                                </div>
                                <div>
                                    <h4 class="user__item-value">{{subContractor.user.fullName}}</h4>
                                    <p class="user__item-key" style="text-align: right;">Ф.И.О</p>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;">
                            <div class="user__item">
                                <h4 class="user__item-value">РП объекта</h4>
                                <h4 class="user__item-value">{{manager.fullName}}</h4>
                            </div>
                            <div class="user__item">
                                <h4 class="user__item-value">ЗРП объекта</h4>
                                <h4 class="user__item-value">{{managerAssistant.fullName}}</h4>
                            </div>
                            <div class="user__item">
                                <h4 class="user__item-value">Прораб объекта</h4>
                                <h4 class="user__item-value">{{foreman.fullName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments -->
            {{#if comments.length}}
                <div class="comments">
                    {{#each comments}}
                        <div class="comment {{#if (eq this.createdById @root.userId)}}comment--reverse{{/if}}">
                            <div class="comment__avatar">
                                {{#if this.createdByPhotoUuid}}
                                    <img class="comment__image" src="{{@root.downloadUrl}}{{this.createdByPhotoUuid}}" alt="{{this.createdByName}}" />
                                {{else}}
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path
                                                d="M15.467 16.2907C14.6391 14.0765 12.5043 12.5 10.0013 12.5C7.49828 12.5 5.36347 14.0765 4.53561 16.2907M15.467 16.2907C17.2239 14.7629 18.3346 12.5112 18.3346 10C18.3346 5.39765 14.6037 1.66669 10.0013 1.66669C5.39893 1.66669 1.66797 5.39765 1.66797 10C1.66797 12.5112 2.77867 14.7629 4.53561 16.2907M15.467 16.2907C14.0039 17.5631 12.0925 18.3334 10.0013 18.3334C7.91007 18.3334 5.99875 17.5631 4.53561 16.2907"
                                                stroke="#5957D7"
                                                stroke-width="1.5"
                                                stroke-linejoin="round"
                                            />
                                            <circle
                                                cx="2.5"
                                                cy="2.5"
                                                r="2.5"
                                                transform="matrix(1 0 0 -1 7.5 10)"
                                                stroke="#5957D7"
                                                stroke-width="1.5"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2007_28181">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                {{/if}}
                            </div>

                            <div class="comment__content">
                                <div class="comment__header">
                                    <div class="comment__name">{{this.createdByName}}</div>
                                    <div class="comment__date">{{this.createdAt}}</div>
                                </div>
                                <div class="comment__message">{{this.message}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            <!-- Histories -->
            {{#if histories.length}}
                <div class="histories">
                    <h3 class="detail__title mb-10">История изменений</h3>

                    {{#each histories}}
                        <div class="history">
                            <div class="history__key">{{this.action}}</div>
                            <div class="history__right">
                                <div class="history__value">{{this.createdByName}}</div>
                                <div class="history__value">{{this.createdAt}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </body>
</html>
