<div class="wrapper {{#if isFailed}}wrapper--failed{{/if}}">
    {{#each options}}
        <div
            class="option
                {{#if (or (lt @index ../stepMinusOne) (eq ../step (length ../options)))}}option--done{{/if}}
                {{#if (and (eq @index ../stepMinusOne) (ne ../step (length ../options)))}}option--current{{/if}}
            "
        >
            <div class="option__icon">
                {{#if (and ../isFailed (eq @index (sub (length ../options) 1)))}}
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.30649 3.4716C9.04454 2.17613 10.9551 2.17613 11.6932 3.4716L18.0866 14.6937C18.8039 15.9527 17.8703 17.5 16.3933 17.5H3.60641C2.12939 17.5 1.19576 15.9527 1.91306 14.6937L8.30649 3.4716ZM10.8331 14.1667C10.8331 14.6269 10.46 15 9.99979 15C9.53955 15 9.16645 14.6269 9.16645 14.1667C9.16645 13.7064 9.53955 13.3333 9.99979 13.3333C10.46 13.3333 10.8331 13.7064 10.8331 14.1667ZM10.6248 7.5C10.6248 7.15482 10.345 6.875 9.99979 6.875C9.65461 6.875 9.37479 7.15482 9.37479 7.5V11.6667C9.37479 12.0118 9.65461 12.2917 9.99979 12.2917C10.345 12.2917 10.6248 12.0118 10.6248 11.6667V7.5Z"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            fill="#FFFFFF"
                        />
                    </svg>
                {{else if (or (lt @index ../stepMinusOne) (eq ../step (length ../options)))}}
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.16675 10.0001L9.27898 11.9011C9.63857 12.2247 10.1972 12.1752 10.4942 11.7933L13.8334 7.50008M10.5001 18.3334C15.1025 18.3334 18.8334 14.6025 18.8334 10.0001C18.8334 5.39771 15.1025 1.66675 10.5001 1.66675C5.89771 1.66675 2.16675 5.39771 2.16675 10.0001C2.16675 14.6025 5.89771 18.3334 10.5001 18.3334Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                {{else if (eq @index ../stepMinusOne)}}
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.6666 3.33332C11.6666 4.2538 10.9205 4.99999 9.99998 4.99999C9.0795 4.99999 8.33331 4.2538 8.33331 3.33332C8.33331 2.41285 9.0795 1.66666 9.99998 1.66666C10.9205 1.66666 11.6666 2.41285 11.6666 3.33332Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                        <path
                            d="M11.6666 16.6667C11.6666 17.5871 10.9205 18.3333 9.99998 18.3333C9.0795 18.3333 8.33331 17.5871 8.33331 16.6667C8.33331 15.7462 9.0795 15 9.99998 15C10.9205 15 11.6666 15.7462 11.6666 16.6667Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                        <path
                            d="M16.6068 8.11003C15.8097 8.57027 14.7904 8.29714 14.3301 7.49999C13.8699 6.70283 14.143 5.68351 14.9402 5.22328C15.7373 4.76304 16.7566 5.03616 17.2169 5.83332C17.6771 6.63047 17.404 7.64979 16.6068 8.11003Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                        <path
                            d="M5.05985 14.7767C4.26269 15.2369 3.24338 14.9638 2.78314 14.1667C2.3229 13.3695 2.59603 12.3502 3.39318 11.8899C4.19034 11.4297 5.20965 11.7028 5.66989 12.5C6.13013 13.2971 5.857 14.3165 5.05985 14.7767Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                        <path
                            d="M14.9402 14.7767C14.143 14.3165 13.8699 13.2971 14.3301 12.5C14.7904 11.7028 15.8097 11.4297 16.6068 11.8899C17.404 12.3502 17.6771 13.3695 17.2169 14.1667C16.7566 14.9638 15.7373 15.2369 14.9402 14.7767Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                        <path
                            d="M3.39318 8.11005C2.59603 7.64982 2.3229 6.6305 2.78314 5.83334C3.24338 5.03619 4.26269 4.76306 5.05985 5.2233C5.857 5.68354 6.13013 6.70286 5.66989 7.50001C5.20965 8.29717 4.19034 8.57029 3.39318 8.11005Z"
                            stroke="#FFFFFF"
                            stroke-width="1.5"
                        />
                    </svg>
                {{else}}
                    <div class="option__number">{{inc @index}}</div>
                {{/if}}
            </div>

            {{#if (gt @index 0)}}
                <div class="option__bar">
                    {{> progress-bar
                            width="60px"
                            color=(progressColor ../isFailed @index (length ../options) ../step)
                            animate=true
                    }}
                </div>
            {{/if}}

            <div class="option__title">{{this}}</div>
        </div>
    {{/each}}
</div>
